@font-face{
  font-family: chopsic;
  src: url(./CyberCup3.0/chopsic-font/Chopsic-K6Dp.ttf);

  
}

@font-face{
  font-family: newton;
  src: url(./CyberCup3.0/newtown-font/NewtownBold-MpGp.ttf);
}

@font-face{
  font-family: spacemission;
  src: url(./CyberCup3.0/space-mission-font/SpaceMission-rgyw9.otf);
}

@font-face{
  font-family: technorace;
  src: url(./CyberCup3.0/techno-race-italic-font/TechnoRaceItalic-eZRWe.otf);
}



body{
  background-color: #151328;
}

/* Reset the default text-decoration and color for the <a> element */
a {
  text-decoration: none;
  color: white;
}

/* Override the hover effect for the <a> element */
a.no-hover:hover {
  text-decoration: none;
  color: white;
  /* Optionally, you can add other styling if needed */
}

.navbar-toggler, .navbar-toggler-icon{
  background-color: white;
  color: white;
}
.nav-link{
  color: white;
  font-size: 17px;
}

.nav-item{
  padding: 0 40px 0 0;
}

.navbar-brand{
  padding-left: 30px;
}

.container {
    position: relative;

  }
  

  #Home{
    background-image: url("./CyberCup3.0/30545788_sound_motion_wave_12.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: fixed;
  }

.logo{
  height: 63px;
  width: 183px;
  margin: 10px;
}

.Amity-University{
  padding-top: 10px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
}

.presents{
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

.tagline{
  color: white;
  font-size: 30px;
  padding: 20px;
}
.home-image{

  margin-top: 20px;
  /* margn-bottom: 10px; */
  width: 70%;
  max-width: 100vw;
   /* Set the maximum width to the viewport width */
/* Ensure the image does not exceed its parent container */
  height: auto;

}
 
.container-home{
  text-align: center;
  
}

.smaller-screen{
  display: none;
}





.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #000000;
  font-size: 30px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  margin-top: 100px;
}

.btn:hover {
  background: #000000;
  text-decoration: none;
  border: solid #ffffff 2px;
  color: #ffffff;
}

.head-card {
  border: solid 2px white;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.head-title {
  color: white;
  font-size: 18px;
}

.head-name{
  color: white;
}

.contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.university{
  color: white;
}
.social{
  text-decoration: none;
  font-size: 22px;
  color: white;
  padding: 10px;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* CARDS */

.guidance{
  font-size: 25px;
  padding-left: 120px;
}

.guidance-list{
  padding: 25px;
}


.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 500;
  font-size: 25px;
}

.card img{
position: absolute;
top: 20px;
right: 10px;
max-height: 120px;
}

.card-1{
background-image: url(./CyberCup3.0/united_1534938.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
 background-image: url(./CyberCup3.0/document_10567039.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
 background-image: url(./CyberCup3.0/skills_10231540.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-4{
  background-image: url(./CyberCup3.0/trophy_1344748.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-5{
  background-image: url(./CyberCup3.0/trophy_1344748.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }
 .card-6{
  background-image: url(./CyberCup3.0/trophy_1344748.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-7{
  background-image: url(./CyberCup3.0/certificate_2490354.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-8{
  background-image: url(./CyberCup3.0/map_1865269.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-9{
  background-image: url(./CyberCup3.0/time_3395472.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }


.row{
  padding: 100px 15px 30px 15px;
}

.col-md-4{
  padding: 25px;
}

@media(max-width: 990px){
.card{
  margin: 20px;
}
} 

#About-Us{
  background-color: #151328;
  color: white;
}

.about-us{
  padding: 50px 150px 50px 150px;
}

.test{
  background-color: #1D267D;
  padding: 50px;
}

.title{
  text-align: center;
  padding: 120px 0 100px 0;
  font-family: chopsic;
  font-size: 50px;
  color: white;
}

.amity-headline, .aset-headline, .cse-headline, .cybercup-headline{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 20px 0 10px 0;

}

.about-amity, .about-aset, .about-cse, .about-cybercup{
  text-align: justify;
}

#Themes{
  background-color: #151328;
}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .box:nth-child(4):before,
.container .box:nth-child(4):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .box:nth-child(5):before,
.container .box:nth-child(5):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

#Rules{
  background-color: #151328;
  color: white;
}

.rules-list{
  padding-left: 150px;
  padding-right: 150px;
  text-align: justify;
  margin: 0;
}

.rule{
  padding-top: 25px;
  font-size: 18px;
}


:root {
  --accent-color: #a876aa;
}

#Registration{
  height: 100vh;
  text-align: center;
  background-image: url("./CyberCup3.0/34830379_elegant_luxury_background_modern_purple_color.jpg");
  
}

.registration-form{
  font-family: technorace;
  color: white;
  font-size: 70px;
}

.previous-event-image{
  height: 300px;
  width: 400px;
}

#faqs {
  font-family: "Poppins", sans-serif;
  background-color: #151328;
  color: #444;
}


h1 {
  margin: 50px 0 30px;
  text-align: center;
  color: var(--accent-color);
}

.faq-container {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 100PX;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.faq {
  box-sizing: border-box;
  background: transparent;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.faq:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  margin: 30px 0 0;
  display: none;
  line-height: 1.5rem;
}

.faq.active {
  background-color: #f8f8f8;
  box-shadow: inset 4px 0px 0px 0px var(--accent-color);
}

.faq.active .faq-title {
  color: var(--accent-color);
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: inherit;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-top: 3px;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  transition: 0.3s ease;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle {
  transform: rotate(180deg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
}


.col-lg-4{
  padding: 15px;
}



.date-large-screen{
  color: white;
  font-size: 40px;
}

.event-image{
  text-align: center;
}














  @media (max-width: 1000px){
    .home-image{
      display: none;
    }

    .smaller-screen{
      display: block;
      text-align: center;
      font-family: technorace;
    }

    .date-large-screen{
      display: none;
    }

    .date-small-screen{
      display: block;
      color: white;
      font-size: 40px;
      text-align: center;
    }
    #Home{
      background-image: url("./CyberCup3.0/30545788_sound_motion_wave_12.jpg");
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
    }
  }



  @media (min-width: 700px) and ( max-width: 990px){
    #Home{
      background-image: url("./CyberCup3.0/30545788_sound_motion_wave_12.jpg");
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
    }



    .Amity-University{
      font-size: 65px;
      padding-top: 60px;
    }

    .presents{
      font-size: 50px;
      padding: 30px;
    }

    .home-heading{
      color: white;
      font-size: 120px;

    }

    .cybercup-logo{
      height: 200px;
      width: 200px;
    }

    .about-us{
      padding-left: 30px;
      padding-right: 30px;
    }

    .title{
    font-size: 85px;
    }

    .rules-list{
      padding-left: 60px;
      padding-right: 60px;
    }

    .registration-form{
      font-size: 90px;
    }

    #Registration{
      height: 80vh;
    }

    #guidance{
      padding-bottom: 60px;
    }

    .faq-container{
      max-width: 90%;
    }
  }




  @media (max-width: 700px){
    #Home{
      background-image: url("./CyberCup3.0/30545788_sound_motion_wave_12.jpg");
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
    }


    .Amity-University{
      font-size: 35px;
    }

    .about-us{
      padding: 40px 20px;
    }

    .rules-list{
      padding-left: 40px;
      padding-right: 40px;
    }

    .home-heading{
      color: white;
      font-size: 90px;

    }
    .col-md-4{
      padding: 5px;
    }

    .title{
      font-size: 40px;
    }

    .registration-form{
      font-size: 55px;
    }

    .btn{
      margin-top: 20px;
    }

    .faq-container{
      max-width: 80%;
    }

    .cybercup-logo{
      height: 200px;
      width: 200px;
    }

    .previous-event-image{
      height: 270px;
      width: 325px;
    }
  }